/* ***** Aeonik Font Start *****  */
@font-face {
  font-family: "Aeonik-Bold";
  src: url("../fonts/Aeonik/Aeonik-Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AeonikBold-Italic";
  src: url("../fonts/Aeonik/AeonikBold-Italic.otf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Aeonik-Light";
  src: url("../fonts/Aeonik/AeonikLight.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "AeonikLight-Italic";
  src: url("../fonts/Aeonik/AeonikLightItalic.otf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "AeonikRegular";
  src: url("../fonts/Aeonik/AeonikRegular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AeonikRegularItalic";
  src: url("../fonts/Aeonik/AeonikRegularItalic.otf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* ***** Aeonik Font End ***** */

/* ***** Gilro Font Start *****  */
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-BoldItalic";
  src: url("../fonts/Gilroy/Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-RegularItalic";
  src: url("../fonts/Gilroy/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-MediumItalic";
  src: url("../fonts/Gilroy/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-SemiBoldItalic";
  src: url("../fonts/Gilroy/Gilroy-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* ***** Gilro Font End *****  */

/* ***** Generic CSS Start *****  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px !important;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  outline: none;
}

a:hover,
a:focus {
  text-decoration: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button[disabled],
html input[disabled] {
  cursor: default;
  opacity: 0.5;
}

table {
  border-collapse: separate;
  border-spacing: 5em;
  width: 100%;
  border: none;
}

td,
th {
  padding: 0;
}

body {
  background-color: #F4F4F4 !important;
}


:root {
  --black: #000000;
  --dark-black: #222B38;
  --white: #ffffff;
  --red: #ED5846;
  --brown: #A67C62;
  --gray: #95AFB7;
  --light-gray: #DAD2CE4D;
}

.text-red {
  color: var(--red);
}

.text-brown {
  color: var(--brown);
}

.text-gray {
  color: var(--gray);
}

.bg-red {
  background-color: var(--red) !important;
}

.bg-brown {
  background-color: var(--brown);
}

.bg-gray {
  background-color: var(--gray);
}

.bg-light-gray {
  background-color: var(--light-gray) !important;
}

.border-red {
  border: 1px solid var(--red) !important;
}

.border-brown {
  border: 1px solid var(--brown);
}

.border-gray {
  border: 1px solid var(--gray);
}


.generic-card {
  border-radius: 11.953px;
  background: var(--white);
  margin: 22.41px 0 0 0;
  padding: 14.95px;
}

.generic-heading {
  color: var(--dark-black);
  font-family: "Gilroy-SemiBold";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
  margin-bottom: 8.97px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 1.4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--red);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--red);
}

input:checked+.slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* ***** Generic CSS End *****  */

.main-wrapper {
  display: grid;
  grid-template-columns: 87px 2fr 1fr;
  grid-column-gap: 22.41px
}


/* ***** Left Side Bar CSS Start *****  */

.left-side-bar {
  min-height: 100vh;
  max-height: 100%;
  border-radius: 0px 14.941px 14.941px 0px;
  background: var(--white);
  display: flex;
  flex-direction: column;
  padding: 21.5px 0;
}

.logo-image {
  margin: 21.5px 0 35.85px 0;
  text-align: center;
}

.left-side-bar nav ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #5D6770;
  text-align: center;
  font-family: "AeonikRegular";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14.344px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 11.95px 0px;
  cursor: pointer;
  position: relative;
}

.left-side-bar nav ul li svg {
  margin-bottom: 6px;
}

.left-side-bar nav ul li.active {
  background: #FAFAFA;
  color: var(--red);
}

.left-side-bar nav ul li.active svg path {
  stroke: var(--red);
}

.left-side-bar nav ul li.active::before {
  content: "";
  width: 3.73px;
  height: 100%;
  background: var(--red);
  position: absolute;
  left: 0;
  border-radius: 0px 5.977px 5.977px 0px;
}

/* ***** Left Side Bar CSS End *****  */

.content-area,
.right-side {
  padding: 14.95px 0 22.41px 0px;
}

.content-area .search-field {
  display: block;
  height: 58px;
  border-radius: 8.965px;
  border: 0.747px solid #F5F5F6;
  background: var(--white);
  width: 100%;
  color: #969EAE;
  font-family: "Gilroy-Regular";
  font-size: 11.953px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-image: url("../icons/searchicon.png");
  background-position: 10px 18px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.content-area .search-field:focus-visible {
  outline: none;
}

.image-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 58px;
}

.right-side {
  margin-right: 22.41px;
}

.user-name {
  color: var(--dark-black);
  text-align: right;
  font-family: "AeonikRegular";
  font-size: 11.953px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.125px;
  margin: 0 8.95px 0 0 !important;
}

.image-wrapper img:not(:last-child) {
  margin-right: 24px;
}



.content-area .balance-card {
  border-radius: 8.965px;
  background: var(--white);
  padding: 11.95px 0 11.95px 11.95px;
  box-shadow: 10.78px 14.94px 37.35px 0px rgba(108, 126, 147, 0.08);
  display: flex;
  align-items: center;
  margin: 13.41px 0 22.41px 0;
}

.content-area .balance-card .svg-wrapper {
  margin-right: 17.18px;
  position: relative;
}

.content-area .balance-label {
  color: rgba(34, 43, 56, 0.80);
  font-family: "Gilroy-Regular";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5.98px !important;
}

.content-area .price-label {
  color: var(--dark-black);
  font-family: "Gilroy-SemiBold";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content-area .svg-wrapper .sencond-svg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.content-area .nav-tabs {
  border-bottom: 0px !important;
  margin-top: 20.92px;
}

.content-area .nav-tabs .nav-item.show .nav-link,
.content-area .nav-tabs .nav-link.active {
  border-color: #fff;

}

.content-area .nav-tabs .nav-link.active {
  color: var(--dark-black) !important;
  font-family: "Gilroy-Bold" !important;
  position: relative;
}

.content-area .nav-tabs .nav-link {
  padding: 0 23.91px 0 0px !important;
  color: rgba(34, 43, 56, 0.60) !important;
  font-family: "Gilroy-Regular";
  font-size: 11.953px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.149px;
}

.content-area .nav-tabs .nav-link:focus,
.content-area .nav-tabs .nav-link:hover {
  border-color: #fff;
}

.content-area .nav-tabs .nav-link.active::before {
  position: absolute;
  content: "";
  width: calc(100% - 23.91px);
  height: 3px;
  background: var(--red);
  bottom: -8.96px;
}

.content-area .form-select {
  color: var(--dark-black);
  font-family: "Gilroy-Regular";
  font-size: 10.459px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 2.988px;
  border: 0.747px solid rgba(18, 18, 18, 0.11);
  background: var(--white);
  width: 98.613px;
  height: 29.883px;
  float: right;
  background-image: url("../icons/down_icon.png");
  background-position: 97%;
  background-repeat: no-repeat;
}

.content-area thead tr {
  border-bottom: 1px solid #ececec;
}

.content-area thead tr th {
  color: rgba(34, 43, 56, 0.40);
  font-family: "Gilroy-Regular";
  font-size: 10.459px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 17.5%;
  height: 44.824px;
}

.content-area thead tr th:first-child {
  width: 30% !important;
}

.content-area tbody tr td {
  color: rgba(34, 43, 56, 0.80);
  font-family: "Gilroy-Regular";
  font-size: 10.459px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content-area tbody tr {
  height: 44.824px;
  border-bottom: 1px solid #ececec;

}

.content-area tbody tr:nth-child(odd) {
  background: var(--white);
  box-shadow: 14.94px 29.88px 59.76px 0px rgba(108, 126, 147, 0.12), -5.97px -8.96px 17.92px 0px rgba(108, 126, 147, 0.04);
  border-radius: 8.965px;
}

.content-area tbody tr td {
  padding-top: 10.46px;
  padding-bottom: 10.46px;
}

.content-area tbody tr td:first-child,
.content-area tbody tr td:last-child {
  font-size: 11.953px !important;
}

.content-area tbody tr td:first-child,
.content-area thead tr th:first-child {
  padding-left: 8.96px;
  border-top-left-radius: 8.965px;
  border-bottom-left-radius: 8.965px;
}

.content-area tbody tr td:last-child,
.content-area thead tr th:last-child {
  padding-right: 8.96px;
  border-top-right-radius: 8.965px;
  border-bottom-right-radius: 8.965px;
}

.content-area .table-icon {
  width: 23.906px;
  height: 23.906px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4.483px;
  background: rgba(237, 88, 70, 0.06);
  margin-right: 11.95px;
}

.right-side .debit-card-wrapper {
  text-align: center;
  position: relative;
  margin-top: 14.94px;
}

.right-side .debit-card-wrapper::after {
  content: "";
  position: absolute;
  height: calc(100% - 23px);
  width: 2px;
  background: #E8E8E8;
  right: 0;
  top: 3px;
}

.right-side .balance-info-wrapper {
  margin-top: 14.94px;
}

.right-side .carousel-control-prev-icon {
  background-image: url("../icons/left_arrow.png") !important;
  opacity: 1 !important;
}

.right-side .carousel-control-next-icon {
  background-image: url("../icons/right_arrow.png") !important;
  opacity: 1 !important;
}

.right-side .carousel-control-next-icon,
.right-side .carousel-control-prev-icon {
  width: 15px !important;
  height: 15px !important;
}

.right-side .carousel-control-next,
.right-side .carousel-control-prev {
  opacity: 1 !important;
}

.right-side .card-balance {
  text-align: right;
  font-family: "Gilroy-SemiBold";
  font-size: 11.953px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.right-side .balance-info {
  color: rgba(31, 31, 31, 0.70);
  text-align: right;
  font-family: "Gilroy-SemiBold";
  font-size: 8.965px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 17.93px !important;
  clear: both;
}

.right-side .progress-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side .progress-wrapper .progress {
  height: 5.977px !important;
  width: 145px !important;
  margin-top: 17.3px;
}

.right-side .amount {
  color: #1F1F1F;
  font-family: " Gilroy-SemiBold";
  font-size: 10.459px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}



.right-side .upcoming-sec .generic-heading {
  margin-top: 29px !important;
}

.right-side .date-label {
  color: var(--gray);
  font-family: "Gilroy-Regular";
  font-size: 10.459px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.734px;
  margin: 14.95px 0;
}

.right-side .money-wrapper {
  display: grid;
  grid-template-columns: 80px 1fr 70px;
}

.right-side .btn-wrapper button {
  border-radius: 8.965px;
  text-align: center;
  font-family: "Aeonik";
  font-size: 8.965px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  width: 69.478px;
  height: 17.93px;
  background-color: var(--white);
}

.right-side .trans-from {
  color: var(--dark-black);
  font-family: "Gilroy-Medium";
  font-size: 11.953px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 3px;
  padding: 0;
}

.right-side .trans-amount {
  font-family: "Gilroy-Regular";
  font-size: 8.965px;
  font-style: normal;
  font-weight: 400;
  line-height: 14.344px;
  margin: 0;
}

.right-side .trans-date p {
  color: var(--dark-black);
  font-family: "Gilroy-Medium";
  font-size: 11.953px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.right-side .trans-from-wrapper {
  padding: 0 0 0 12px;
  position: relative;
}

.trans-from-wrapper.red-line::after,
.trans-from-wrapper.brown-line::after,
.trans-from-wrapper.gray-line::after {
  content: "";
  width: 3.5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}

.trans-from-wrapper.red-line::after {
  background-color: var(--red);
}

.trans-from-wrapper.brown-line::after {
  background-color: var(--brown);
}

.trans-from-wrapper.gray-line::after {
  background-color: var(--gray);
}

.trancation-wrapper {
  margin-bottom: 16.81px;
}

.date-sec-wrapper:not(:last-child) {
  border-bottom: 1px solid #EEEEEE;
}

.right-side .weekly-payment {
  margin-top: 13.45px !important;
}

.right-side .weekly-payment .weekly {
  color: rgba(31, 31, 31, 0.70);
  font-family: "Gilroy-Regular";
  font-size: 8.965px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.right-side .weekly-amount {
  color: #1F1F1F;
  font-family: "Gilroy-SemiBold";
  font-size: 10.459px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.apexcharts-toolbar {
  display: none !important;
}

.tab-content {
  margin-bottom: 26.1px;
}

@media screen and (max-width: 1400px) {
  .main-wrapper {
    display: grid;
    grid-template-columns: 87px 1.5fr 1fr;
    grid-column-gap: 22.41px
  }
}